/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	.entry-title,
	.entry-title a,
	.entry-title a:hover {
		color: #ffffff;
		text-shadow: 0 2px 5px #000;
		text-decoration: none;
	}
	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	.site-header {
		background: rgba( $palette-primary_1, 0.9 );
		color: $text-contrast-palette-primary_1;
	}
	.site-footer,
	.site-footer a,
	.mark,
	mark {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	&.page-template-page_home {
		.site-footer, .entry-footer {
			background: $palette-primary_1;
			color: $text-contrast-palette-primary_1;
			a {
				color: $text-contrast-palette-primary_1;
			}
		}
		.post-edit-link {
			color: $text-contrast-palette-primary_1;
		}
	}
	h5,
	h6 {
		color: $text-contrast-palette-primary-neutral-color;
	}
	body,
	#tertiary-menu li a,
	#secondary-menu li a,
	.site-title a,
	.slogan {
		color: $text-contrast-palette-primary_1;
	}
	.background-secondary {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.button-primary:hover,
	.button-primary:focus,
	input[type="submit"]:hover,
	input[type="submit"]:focus,
	.form-submit .submit:hover,
	.form-submit .submit:focus,
	.pager li > a:hover,
	.pager li > a:focus {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.widget.well.widget_calendar a {
		color: $palette-primary_1;
	}
	blockquote {
		border-left: 5px solid $palette-primary_1;
	}
	.panel-default,
	.navbar-default .navbar-toggle {
		border-color: $palette-primary_1;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: $text-contrast-palette-primary_1;
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	.call-to-action {
		background: rgba($palette-primary_2, 0.9);
		color: $text-contrast-palette-primary_2;
		h2 {
			color: $text-contrast-palette-primary_2;
		}
	}
	hr,
	.gridblock hr {
		background: $palette-primary_2;
	}
	.widget-title,
	.widget-area ul,
	.comment-reply-title,
	#header-upper-right li.menu-social a,
	#footer-widget-area li a {
		color: $text-contrast-palette-primary_2;
	}
	.nav > li > a:focus,
	.nav > li > a:hover {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	#footer-center-menu {
		.current_page_ancestor a {
			&:link, &:visited {
				color: $palette-primary_3;
			}
		}
		.current_page_item a {
			&:link, &:visited {
				color: $palette-primary_3;
			}
		}
	}
	.widget-area {
		border: 1px solid $text-contrast-palette-primary_3;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus,	
	.well,
	.well .table-striped > tbody > tr:nth-of-type(2n+1),
	.site-footer .well li > a,
	.site-footer .widget_calendar a {
		background: $palette-primary_3;
	}
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background: $text-contrast-palette-primary_3;
	}	
	.well h2.widget-title,
	.well a,
	.widget.well,
	.well caption,
	.widget.well.widget_calendar,
	.widget.well.widget_calendar a:hover,
	#footer-widget-area .well li a {
		color: $text-contrast-palette-primary_3;
	}
	#tertiary-menu li:after,
	#secondary-menu li:after {
		color: $palette-primary_3;
	}
	@media (min-width: 768px) {
		.navbar-default .navbar-nav {
			> li > a {
				border-right: 1px solid $palette-primary_3;
			}
			> li:last-child > a {
				border-right: none;
			}
		}
	}

	/*-----------------------------------------------
	## Neutral
	-----------------------------------------------*/
	a,
	.entry-content ul,
	.entry-content ol,
	.mod-blockquote p,
	.widget-title,
	#reply-title,
	.comments-title,
	.comments-area,
	.comments-area a,
	.widget-area a,
	.nav-links a,
	.entry-meta,
	.single .entry-title,
	.archive .entry-title,
	#reviews #comments ol.commentlist li .meta {
		color: $text-contrast-palette-primary-neutral-color;
	}
	.entry-content {
		background-color: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}
	.gridblock ul li:before {
		border-bottom: 8px solid $text-contrast-palette-primary-neutral-color;
	}
	&.search .site-content,
	&.archive .site-content,
	&.single .site-content,
	&.blog .site-content,
	#boldgrid-sticky-push,
	#boldgrid-sticky-filler,
	&.mce-content-body,
	.panel-default > .panel-heading,
	.panel-body,
	.panel-footer {
		background: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}
	.button-primary,
	input[type="submit"],
	.form-submit .submit,
	.pager li > a {
		border: 1px solid $text-contrast-palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}
	&.page-template-default {
		.site-footer, .entry-footer {
			background-color: $palette-primary_1;
			color: $text-contrast-palette-primary_1;
			a {
				color: $text-contrast-palette-primary_1;
			}
		}
		.disabled-footer, .entry-footer {
			background: $palette-primary-neutral-color;
			color: $text-contrast-palette-primary-neutral-color;
		}
		.entry-footer {
			background: $palette-primary_1;
			color: $text-contrast-palette-primary_1;
		}
	}
	.background-primary {
		background: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}
	.well {
		border: 1px solid $palette-primary-neutral-color;
	}

	/*-----------------------------------------------
	## 1 - Buttons & Entry Footer
	-----------------------------------------------*/
	/*.button-secondary {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
		&:hover, &:focus {
			background: none;
			color: $text-contrast-palette-primary-neutral-color;
		}
	}*/

	.page-template-page_home {
		.entry-footer {
			background: $palette-primary_1;
		}
		.post-edit-link {
			color: $text-contrast-palette-primary-neutral-color;
		}
	}
	.current_page_ancestor,
	.current_page_item {
		a:link, a:visited {
			text-decoration: underline;
		}
	}
	.navbar-default .navbar-nav {
		> {
			.current-menu-parent {
				color: $text-contrast-palette-primary_1;
				text-decoration: underline;
				> a {
					color: $text-contrast-palette-primary_1;
				}
			}
			.active > a {
				background: none;
				text-decoration: underline;
				&:hover, &:focus {
					color: $text-contrast-palette-primary_1;
					background: none;
				}
			}
			li > a,
			li > a:hover,
			li > a:focus {
				color: $text-contrast-palette-primary_1;
				&:hover, &:focus {
					background: none;
					text-decoration: underline;
				}
			}
		}
		.dropdown .dropdown-menu > {
			.active > a {
				background: $palette-primary_2;
				color: $text-contrast-palette-primary_2;
				&:hover, &:focus {
					background: $palette-primary_2;
					color: $text-contrast-palette-primary_2;
				}
			}
			li > a {
				color: $text-contrast-palette-primary_1;
				text-decoration: none;
				&:hover, &:focus {
					text-decoration: underline;
					background: $palette-primary_2;
					color: $text-contrast-palette-primary_2;
				}
			}
		}
		.dropdown-menu {
			background: $palette-primary_1;
		}
	}

	/*-----------------------------------------------
	## 3 - Call To Action Button
	-----------------------------------------------*/
	.button-secondary {
		background: $palette-primary_1;
		border: 1px solid $palette-primary_3;
		color: $text-contrast-palette-primary_1;
		&:hover, &:focus {
			background: $palette-primary_3;
			color: $text-contrast-palette-primary_3;
		}
	}
	&.error404 {
		.site-content {
			background: $palette-primary-neutral-color;
			color: $text-contrast-palette-primary-neutral-color;
		}
	}

	/*-----------------------------------------------
	## 4 - WooCommerce
	-----------------------------------------------*/	
	&.woocommerce .color2-background-color {
		background-color: $palette-primary_1 !important;
	}
	&.woocommerce .color-2-text-contrast {
		color: $text-contrast-palette-primary_1 !important;
	}
	&.woocommerce p.price.color2-color {
		color: $palette-primary_1 !important;
	}
	&.woocommerce div.product .stock.out-of-stock {
		color: $palette-primary_1;
	}
	&.woocommerce div.product .stock {
		color: $text-contrast-palette-primary-neutral-color;
	}
}
